{
  "openapi": "3.0.0",
  "info": {
    "title": "Hifi API",
    "version": "1.0.0",
    "description": "API documentation for Hifi"
  },
  "servers": [
    {
      "url": "https://production.hifibridge.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.hifibridge.com",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Common",
      "description": "Common endpoints"
    },
    {
      "name": "User",
      "description": "User endpoints"
    },
    {
      "name": "Account",
      "description": "Account endpoints"
    },
    {
      "name": "Transfer",
      "description": "Transfer endpoints"
    },
    {
      "name": "Quotes",
      "description": "Quotes endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "AccountIdParameter": {
        "name": "accountId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the account",
        "required": true
      },
      "CurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "eur",
            "brl",
            "mxn",
            "ars",
            "cop"
          ]
        },
        "description": "Please provide at least one of the following query params: currency, railType. Eg. Setting 'currency' to 'usd' without setting 'railType' and 'paymentRail' will return all usd accounts under any railType or paymentRail.",
        "required": false
      },
      "RailTypeParameter": {
        "name": "railType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "onramp",
            "offramp"
          ]
        },
        "description": "Please provide at least one of the following query params: currency, railType. Eg. Setting 'railType' to 'offramp' without setting 'currency' and 'paymentRail' will return all offramp accounts under any currency or paymentRail.",
        "required": false
      },
      "PaymentRailParameter": {
        "name": "paymentRail",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "ach",
            "wire",
            "sepa",
            "pix",
            "spei",
            "transfers",
            "ach_cop"
          ]
        },
        "required": false
      },
      "RailParameter": {
        "name": "rail",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "US_ACH_WIRE"
          ]
        },
        "required": true
      },
      "DestinationCurrencyParameter": {
        "name": "destinationCurrency",
        "description": "usdt is allowed only on ETHEREUM_MAINNET at this moment",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "DestinationChainParameter": {
        "name": "destinationChain",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Choose POLYGON_MAINNET for production, POLYGON_AMOY for sandbox.",
          "enum": [
            "POLYGON_MAINNET",
            "POLYGON_AMOY"
          ]
        },
        "required": true
      },
      "VALimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "Number of micro deposit records return for the virtual account, default to 10 maximum to 100",
        "required": false
      },
      "VACreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the micro deposit records that created before this eventId",
        "required": false
      },
      "VACreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the micro deposit records that created after this eventId",
        "required": false
      },
      "AccountTypeParameter": {
        "name": "accountType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "us",
            "iban"
          ]
        },
        "required": true
      },
      "ReceiverIdParameter": {
        "name": "receiverId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the receiver",
        "required": true
      },
      "ReceiverIdOptionalParameter": {
        "name": "receiverId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the receiver",
        "required": false
      },
      "LimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "default to 10, maximum to 100",
        "required": false
      },
      "CreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "format: YYYY-MM-DD",
        "required": false
      },
      "CreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "format: YYYY-MM-DD",
        "required": false
      },
      "TransferRecordIDParameter": {
        "name": "id",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "BridgeAssetRecordIDParameter": {
        "name": "id",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Bridge asset record ID.",
        "required": true
      },
      "FromCurrencyParameter": {
        "name": "fromCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "ToCurrencyParameter": {
        "name": "toCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "eur",
            "brl",
            "mxn",
            "ars",
            "cop"
          ]
        },
        "required": true
      },
      "TransferRecordIDOptionalParameter": {
        "name": "id",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": false
      },
      "TransferTypeParameter": {
        "name": "transferType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "crypto-to-crypto",
            "fiat-to-crypto",
            "crypto-to-fiat",
            "fiat-to-fiat"
          ]
        },
        "description": "Transfer type",
        "required": true
      },
      "TransferTypeOptionalParameter": {
        "name": "transferType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "crypto-to-crypto",
            "fiat-to-crypto",
            "crypto-to-fiat",
            "fiat-to-fiat"
          ]
        },
        "description": "Transfer type",
        "required": false
      },
      "UserIdParameter": {
        "name": "userId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The user ID.",
        "required": true
      },
      "UserIdOptionalParameter": {
        "name": "userId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The user ID.",
        "required": false
      },
      "UserTypeParameter": {
        "name": "userType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "individual",
            "business"
          ]
        },
        "description": "If userType is passed, you will get all users under the type.",
        "required": false
      },
      "ChainParameter": {
        "name": "chain",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "POLYGON_MAINNET",
            "POLYGON_AMOY"
          ]
        },
        "description": "The blockchain network to retrieve the balance from. Currently, only POLYGON_MAINNET is supported in production and only POLYGON_AMOY is supported in sandbox.",
        "required": true
      },
      "CryptoCurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc",
            "usdHifi"
          ]
        },
        "description": "The type of currency to check the balance for. Currently, only usdc is supported.",
        "required": true
      }
    },
    "requestBodies": {
      "UsdOnrampAchAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampAchAccount"
            }
          }
        }
      },
      "UsdOnrampWireAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampWireAccount"
            }
          }
        }
      },
      "UsdOfframpAchAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOfframpAchAccount"
            }
          }
        }
      },
      "UsdOfframpWireAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UsdOfframpWireUSAccount"
                },
                {
                  "$ref": "#/components/schemas/UsdOfframpWireNonUSAccount"
                }
              ]
            }
          }
        }
      },
      "EurOfframpSepaAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EurOfframpSepaAccount"
            }
          }
        }
      },
      "KesOfframpMomoAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/KesOfframpMOMOAccount"
            }
          }
        }
      },
      "XofOfframpMomoAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XofOfframpMOMOAccount"
            }
          }
        }
      },
      "RwfOfframpMomoAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RwfOfframpMOMOAccount"
            }
          }
        }
      },
      "ZmwOfframpMomoAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ZmwOfframpMOMOAccount"
            }
          }
        }
      },
      "NgnOfframpBankAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NgnOfframpBankAccount"
            }
          }
        }
      },
      "UgxOfframpBankAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UgxOfframpBankAccount"
            }
          }
        }
      },
      "TzsOfframpBankAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TzsOfframpBankAccount"
            }
          }
        }
      },
      "MwkOfframpBankAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MwkOfframpBankAccount"
            }
          }
        }
      },
      "XafOfframpBankAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XafOfframpBankAccount"
            }
          }
        }
      },
      "SAOfframpReceiverCreateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SAReceiverCreateIndividualLightKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/SAReceiverCreateIndividualStandardKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/SAReceiverCreateBusinessLightKYBAccount"
                },
                {
                  "$ref": "#/components/schemas/SAReceiverCreateBusinessStandardKYBAccount"
                }
              ]
            }
          }
        }
      },
      "SAOfframpReceiverUpdateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SAReceiverUpdateIndividualLightKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/SAReceiverUpdateIndividualStandardKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/SAReceiverUpdateBusinessLightKYBAccount"
                },
                {
                  "$ref": "#/components/schemas/SAReceiverUpdateBusinessStandardKYBAccount"
                }
              ]
            }
          }
        }
      },
      "SAOfframpAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BrlOfframpPixAccount"
                },
                {
                  "$ref": "#/components/schemas/CopOfframpAchCopAccount"
                },
                {
                  "$ref": "#/components/schemas/MxnOfframpSpeiAccount"
                },
                {
                  "$ref": "#/components/schemas/ArsOfframpTransfersAccount"
                }
              ]
            }
          }
        }
      },
      "CryptoToCryptoTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoTransfer"
            }
          }
        }
      },
      "CryptoToFiatTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ACHCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/SEPACryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/WIRECryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/PIXCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/SWIFTCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/SPEICryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/TRANSFERSCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/ACH_COPCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/MOMO_KESCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/MOMO_XOFCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/MOMO_RWFCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/MOMO_ZMWCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/BANK_NGNCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/BANK_UGXCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/BANK_TZSCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/BANK_MWKCryptoToFiatTransfer"
                },
                {
                  "$ref": "#/components/schemas/BANK_XAFCryptoToFiatTransfer"
                }
              ]
            }
          }
        }
      },
      "FiatToCryptoTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoTransfer"
            }
          }
        }
      },
      "FiatToFiatTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToFiatTransfer"
            }
          }
        }
      },
      "BridgeAssetTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BridgeAssetTransfer"
            }
          }
        }
      },
      "UserCreateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserKycOneCreate"
                },
                {
                  "$ref": "#/components/schemas/IndividualUserKycTwoCreate"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserKycOneCreate"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserKycTwoCreate"
                }
              ]
            }
          }
        }
      },
      "UserUpdateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserUpdate"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserUpdate"
                }
              ]
            }
          }
        }
      },
      "ToSLinkBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLink"
            }
          }
        }
      }
    },
    "responses": {
      "UsdOnrampAchAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampAchAccountObject"
            }
          }
        }
      },
      "UsdOnrampWireAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampWireAccountObject"
            }
          }
        }
      },
      "UsdOfframpAchAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOfframpAchAccountObject"
            }
          }
        }
      },
      "UsdOfframpWireAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOfframpWireAccountObject"
            }
          }
        }
      },
      "EurOfframpSepaAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EurOfframpSepaAccountObject"
            }
          }
        }
      },
      "KesOfframpMomoAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/KesOfframpMomoAccountObject"
            }
          }
        }
      },
      "XofOfframpMomoAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XofOfframpMomoAccountObject"
            }
          }
        }
      },
      "RwfOfframpMomoAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RwfOfframpMomoAccountObject"
            }
          }
        }
      },
      "ZmwOfframpMomoAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ZmwOfframpMomoAccountObject"
            }
          }
        }
      },
      "NgnOfframpBankAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NgnOfframpBankAccountObject"
            }
          }
        }
      },
      "UgxOfframpBankAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UgxOfframpBankAccountObject"
            }
          }
        }
      },
      "TzsOfframpBankAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TzsOfframpBankAccountObject"
            }
          }
        }
      },
      "MwkOfframpBankAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MwkOfframpBankAccountObject"
            }
          }
        }
      },
      "XafOfframpBankAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/XafOfframpBankAccountObject"
            }
          }
        }
      },
      "SAOfframpReceiverCreateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SAOfframpReceiverCreateObject"
            }
          }
        }
      },
      "SAOfframpReceiverUpdateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SAOfframpReceiverUpdateObject"
            }
          }
        }
      },
      "SAOfframpReceiverGetResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SAOfframpReceiverGetObject"
            }
          }
        }
      },
      "BrlOfframpPixAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BrlOfframpPixAccountObject"
            }
          }
        }
      },
      "CopOfframpAchCopAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CopOfframpAchCopAccountObject"
            }
          }
        }
      },
      "MxnOfframpSpeiAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MxnOfframpSpeiAccountObject"
            }
          }
        }
      },
      "ArsOfframpTransfersAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArsOfframpTransfersAccountObject"
            }
          }
        }
      },
      "GetAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountObject"
            }
          }
        }
      },
      "GetAllAccountsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllAccountObjects"
            }
          }
        }
      },
      "GetVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirtualAccountObject"
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFound"
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "PingResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Pong"
            }
          }
        }
      },
      "CryptoToCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoTransferObject"
            }
          }
        }
      },
      "CryptoToFiatTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatTransferObject"
            }
          }
        }
      },
      "FiatToCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoTransferObject"
            }
          }
        }
      },
      "CryptoToCryptoRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoRecordObject"
            }
          }
        }
      },
      "CryptoToFiatRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatRecordObject"
            }
          }
        }
      },
      "FiatToCryptoRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoRecordObject"
            }
          }
        }
      },
      "FiatToFiatRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToFiatRecordObject"
            }
          }
        }
      },
      "CryptoToCryptoAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoAllRecordsObject"
            }
          }
        }
      },
      "CryptoToFiatAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatAllRecordsObject"
            }
          }
        }
      },
      "FiatToCryptoAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoAllRecordsObject"
            }
          }
        }
      },
      "CryptoToFiatConversionRateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatConversionRateObject"
            }
          }
        }
      },
      "AcceptFiatToCryptoQuoteResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AcceptFiatToCryptoQuoteObject"
            }
          }
        }
      },
      "BridgeAssetTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BridgeAssetTransferObject"
            }
          }
        }
      },
      "BridgeAssetRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BridgeAssetTransferObject"
            }
          }
        }
      },
      "UserObjectPendingResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UserObjectPending"
                },
                {
                  "$ref": "#/components/schemas/UserObjectPending_dep"
                }
              ]
            }
          }
        }
      },
      "UserObjectActiveResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UserObjectActive"
                },
                {
                  "$ref": "#/components/schemas/UserObjectActive_dep"
                }
              ]
            }
          }
        }
      },
      "AllUserObjectsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllUserObjects"
            }
          }
        }
      },
      "ToSLinkObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLinkObject"
            }
          }
        }
      },
      "WalletBalanceResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletBalanceObject"
            }
          }
        }
      }
    },
    "schemas": {
      "UsdOnrampAchAccount": {
        "type": "object",
        "properties": {
          "plaidProcessorToken": {
            "type": "string",
            "description": "See https://plaid.com/docs/api/processors/"
          },
          "bankName": {
            "type": "string"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVING",
              "BUSINESS"
            ]
          },
          "createVirtualAccount": {
            "type": "boolean"
          }
        },
        "required": [
          "plaidProcessorToken",
          "bankName",
          "accountType",
          "createVirtualAccount"
        ]
      },
      "UsdOnrampWireAccount": {
        "type": "object",
        "properties": {
          "rail": {
            "type": "string",
            "description": "Passing \"US_ACH_WIRE\" allows the user to do USD onramp through both ACH and Wire.",
            "enum": [
              "US_ACH_WIRE"
            ]
          },
          "destinationCurrency": {
            "type": "string",
            "enum": [
              "usdt",
              "usdc"
            ]
          },
          "destinationChain": {
            "type": "string",
            "enum": [
              "POLYGON_MAINNET",
              "ETHEREUM_MAINNET"
            ]
          }
        },
        "required": [
          "rail"
        ]
      },
      "UsdOfframpAchAccount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "usd"
            ]
          },
          "bankName": {
            "type": "string",
            "description": "e.g. Chase, Bank of America"
          },
          "accountOwnerName": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "accountOwnerType": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ]
          },
          "streetLine1": {
            "type": "string",
            "description": "This has to be a valid street address."
          },
          "streetLine2": {
            "type": "string",
            "description": "This has to be a valid street address. Eg. It cannot be a PO Box."
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "description": "ISO 3166-2 subdivision code. e.g. CA"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec. Currently must be passed as \"USA\"."
          }
        },
        "required": [
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "accountNumber",
          "routingNumber",
          "streetLine1",
          "city",
          "state",
          "postalCode",
          "country"
        ]
      },
      "UsdOfframpWireUSAccount": {
        "type": "object",
        "title": "USD Offramp Wire to US Bank Account",
        "properties": {
          "accountType": {
            "type": "string",
            "enum": [
              "us",
              "iban"
            ]
          },
          "currency": {
            "type": "string",
            "description": "Currency denomination of the destination bank account. Must be usd.",
            "enum": [
              "usd"
            ]
          },
          "bankName": {
            "type": "string",
            "example": "Bank of America"
          },
          "accountOwnerName": {
            "type": "string",
            "example": "John Doe"
          },
          "accountOwnerType": {
            "type": "string",
            "description": "Specify 'business' if the account is owned by a business, otherwise 'individual'. If 'business', 'businessName' is required. If 'individual', 'firstName' and 'lastName' are required.",
            "enum": [
              "business",
              "individual"
            ]
          },
          "businessName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'business'.",
            "example": "Doe Enterprises"
          },
          "firstName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "Doe"
          },
          "accountNumber": {
            "type": "string",
            "example": "1234567890"
          },
          "routingNumber": {
            "type": "string",
            "example": "011000138"
          },
          "streetLine1": {
            "type": "string",
            "example": "123 Main St"
          },
          "streetLine2": {
            "type": "string",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec.",
            "example": "USA"
          }
        },
        "required": [
          "accountType",
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "accountNumber",
          "routingNumber",
          "streetLine1",
          "city",
          "state",
          "postalCode",
          "country"
        ]
      },
      "UsdOfframpWireNonUSAccount": {
        "type": "object",
        "title": "USD Offramp Wire to IBAN Bank Account",
        "properties": {
          "accountType": {
            "type": "string",
            "enum": [
              "us",
              "iban"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "usd"
            ]
          },
          "bankName": {
            "type": "string",
            "example": "Deutsche Bank"
          },
          "accountOwnerName": {
            "type": "string",
            "example": "John Doe"
          },
          "ibanAccountNumber": {
            "type": "string",
            "description": "The IBAN for the bank account.",
            "example": "DE89 3704 0044 0532 0130 00"
          },
          "accountOwnerType": {
            "type": "string",
            "description": "Specify 'business' or 'individual'. Relevant name fields must be provided based on this type.",
            "enum": [
              "business",
              "individual"
            ]
          },
          "firstName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "Doe"
          },
          "businessName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'business'.",
            "example": "Doe Enterprises"
          },
          "businessIdentifierCode": {
            "type": "string",
            "description": "Also known as SWIFT code.",
            "example": "DEUTDEDBFRA"
          },
          "ibanCountryCode": {
            "type": "string",
            "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec.",
            "example": "DEU"
          },
          "streetLine1": {
            "type": "string",
            "example": "123 Berlin St"
          },
          "streetLine2": {
            "type": "string",
            "example": "Building A"
          },
          "city": {
            "type": "string",
            "example": "Berlin"
          },
          "state": {
            "type": "string",
            "example": "Berlin"
          },
          "postalCode": {
            "type": "string",
            "example": "10115"
          },
          "country": {
            "type": "string",
            "example": "Germany"
          }
        },
        "required": [
          "accountType",
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "ibanAccountNumber",
          "businessIdentifierCode",
          "ibanCountryCode",
          "streetLine1",
          "city",
          "postalCode",
          "country"
        ]
      },
      "UsdOfframpWireNonUSIbanSupportedAccount": {
        "type": "object",
        "title": "USD Offramp Wire Iban Supported",
        "properties": {
          "iban": {
            "type": "string",
            "description": "Either a swift account number or iban must be provided."
          },
          "accountHolderName": {
            "type": "string"
          },
          "accountHolderCity": {
            "type": "string"
          },
          "accountHolderCountry": {
            "type": "string"
          },
          "accountHolderStreetLine1": {
            "type": "string"
          },
          "accountHolderStreetLine2": {
            "type": "string"
          },
          "accountHolderStateProvinceRegion": {
            "type": "string"
          },
          "accountHolderPostalCode": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCity": {
            "type": "string"
          },
          "bankCountry": {
            "type": "string"
          },
          "bankStreetLine1": {
            "type": "string"
          },
          "bankStreetLine2": {
            "type": "string"
          },
          "bankStateProvinceRegion": {
            "type": "string"
          }
        },
        "required": [
          "iban",
          "accountHolderName",
          "accountHolderCity",
          "accountHolderCountry",
          "accountHolderStreetLine1",
          "accountHolderPostalCode",
          "bankCity",
          "bankCountry"
        ]
      },
      "UsdOfframpWireNonUSIbanUnsupportedAccount": {
        "type": "object",
        "title": "USD Offramp Wire Non-US Iban Unsupported",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Either a swift account number or iban must be provided."
          },
          "businessIdentifierCode": {
            "type": "string"
          },
          "accountHolderName": {
            "type": "string"
          },
          "accountHolderCity": {
            "type": "string"
          },
          "accountHolderCountry": {
            "type": "string"
          },
          "accountHolderStreetLine1": {
            "type": "string"
          },
          "accountHolderStreetLine2": {
            "type": "string"
          },
          "accountHolderStateProvinceRegion": {
            "type": "string"
          },
          "accountHolderPostalCode": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCity": {
            "type": "string"
          },
          "bankCountry": {
            "type": "string"
          },
          "bankStreetLine1": {
            "type": "string"
          },
          "bankStreetLine2": {
            "type": "string"
          },
          "bankStateProvinceRegion": {
            "type": "string"
          }
        },
        "required": [
          "accountNumber",
          "businessIdentifierCode",
          "accountHolderName",
          "accountHolderCity",
          "accountHolderCountry",
          "accountHolderStreetLine1",
          "accountHolderPostalCode",
          "bankName",
          "bankCity",
          "bankCountry"
        ]
      },
      "EurOfframpSepaAccount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "eur"
            ]
          },
          "bankName": {
            "type": "string",
            "description": "e.g. Deutsche Bank"
          },
          "accountOwnerName": {
            "type": "string"
          },
          "accountOwnerType": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ]
          },
          "ibanAccountNumber": {
            "type": "string",
            "description": "The International Bank Account Number (IBAN) that will be used to send the funds."
          },
          "ibanCountryCode": {
            "type": "string",
            "description": "Country in which the bank account is located. It's a three-letter alpha-3 country code as defined in the ISO 3166-1 spec."
          },
          "businessIdentifierCode": {
            "type": "string",
            "description": "The Business Identifier Code (BIC) that will be used to send the funds."
          },
          "firstName": {
            "type": "string",
            "description": "Required when accountOwnerType == \"individual\""
          },
          "lastName": {
            "type": "string",
            "description": "Required when accountOwnerType == \"individual\""
          },
          "businessName": {
            "type": "string",
            "description": "Required when accountOwnerType == \"business\""
          }
        },
        "required": [
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "ibanAccountNumber",
          "businessIdentifierCode",
          "ibanCountryCode"
        ]
      },
      "KesOfframpMOMOAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "kind": {
            "type": "string",
            "enum": [
              "MOMO_MPESA"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountHolderName",
          "kind"
        ]
      },
      "XofOfframpMOMOAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "kind": {
            "type": "string",
            "enum": [
              "MOMO_MTN"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountHolderName",
          "kind"
        ]
      },
      "RwfOfframpMOMOAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "kind": {
            "type": "string",
            "enum": [
              "MOMO_MTN"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountHolderName",
          "kind"
        ]
      },
      "ZmwOfframpMOMOAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "kind": {
            "type": "string",
            "enum": [
              "MOMO_MTN"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountHolderName",
          "kind"
        ]
      },
      "NgnOfframpBankAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountNumber": {
            "type": "string",
            "description": "Mobile Money account number of the Recipient. Required field for 'BANK_Access Bank' kind."
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "kind": {
            "type": "string",
            "enum": [
              "BANK_Access Bank",
              "BANK_GT Bank",
              "BANK_United Bank for Africa"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountHolderName",
          "kind"
        ]
      },
      "UgxOfframpBankAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountNumber": {
            "type": "string",
            "description": "Mobile Money account number of the Recipient. Required field for 'BANK_Access Bank' kind."
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "bankName": {
            "type": "string",
            "description": "Recipient bank name"
          },
          "kind": {
            "type": "string",
            "enum": [
              "BANK_Manul Entry"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountNumber",
          "accountHolderName",
          "bankName",
          "kind"
        ]
      },
      "TzsOfframpBankAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountNumber": {
            "type": "string",
            "description": "Mobile Money account number of the Recipient. Required field for 'BANK_Access Bank' kind."
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "bankName": {
            "type": "string",
            "description": "Recipient bank name"
          },
          "kind": {
            "type": "string",
            "enum": [
              "BANK_Manul Entry"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountNumber",
          "accountHolderName",
          "bankName",
          "kind"
        ]
      },
      "MwkOfframpBankAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountNumber": {
            "type": "string",
            "description": "Mobile Money account number of the Recipient. Required field for 'BANK_Access Bank' kind."
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "bankName": {
            "type": "string",
            "description": "Recipient bank name"
          },
          "kind": {
            "type": "string",
            "enum": [
              "BANK_Manul Entry"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountNumber",
          "accountHolderName",
          "bankName",
          "kind"
        ]
      },
      "XafOfframpBankAccount": {
        "type": "object",
        "properties": {
          "accountHolderPhone": {
            "type": "string",
            "description": "Mobile Money account phone number of the Recipient. e.g. +2547111111"
          },
          "accountNumber": {
            "type": "string",
            "description": "Mobile Money account number of the Recipient. Required field for 'BANK_Access Bank' kind."
          },
          "accountHolderName": {
            "type": "string",
            "description": "Name of the account holder as it appears on the Mobile Money account."
          },
          "bankName": {
            "type": "string",
            "description": "Recipient bank name"
          },
          "kind": {
            "type": "string",
            "enum": [
              "BANK_Manul Entry"
            ],
            "description": "Kind of Mobile Money transfer."
          }
        },
        "required": [
          "accountHolderPhone",
          "accountNumber",
          "accountHolderName",
          "bankName",
          "kind"
        ]
      },
      "SAReceiverCreateIndividualLightKYCAccount": {
        "type": "object",
        "title": "Receiver Individual Light KYC Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "individual"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "light"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        },
        "required": [
          "type",
          "kyc_type",
          "first_name",
          "last_name",
          "date_of_birth",
          "email",
          "country"
        ]
      },
      "SAReceiverCreateIndividualStandardKYCAccount": {
        "type": "object",
        "title": "Receiver Individual Standard KYC Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "individual"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "standard"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\". `country` should match `id_doc_country`."
          },
          "tax_id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "id_doc_country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\". `id_doc_country` should match `country`."
          },
          "id_doc_type": {
            "type": "string",
            "enum": [
              "PASSPORT",
              "ID_CARD",
              "DRIVERS"
            ]
          },
          "id_doc_front_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          },
          "id_doc_back_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          },
          "proof_of_address_doc_type": {
            "type": "string",
            "enum": [
              "UTILITY_BILL",
              "BANK_STATEMENT",
              "RENTAL_AGREEMENT",
              "TAX_DOCUMENT",
              "GOVERNMENT_CORRESPONDENCE"
            ]
          },
          "proof_of_address_doc_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          }
        },
        "required": [
          "type",
          "kyc_type",
          "first_name",
          "last_name",
          "date_of_birth",
          "email",
          "country",
          "tax_id",
          "ip_address",
          "address_line_1",
          "city",
          "state_province_region",
          "postal_code",
          "id_doc_country",
          "id_doc_type",
          "id_doc_front_file"
        ]
      },
      "SAReceiverCreateBusinessLightKYBAccount": {
        "type": "object",
        "title": "Receiver Business Light KYB Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "business"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "light"
            ]
          },
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        },
        "required": [
          "type",
          "kyc_type",
          "legal_name",
          "tax_id",
          "formation_date",
          "email",
          "country"
        ]
      },
      "SAReceiverCreateBusinessStandardKYBAccount": {
        "type": "object",
        "title": "Receiver Business Standard KYB Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "business"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "standard"
            ]
          },
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "website": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "incorporation_doc_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          },
          "proof_of_ownership_doc_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceiverBusinessOwner"
            }
          }
        },
        "required": [
          "type",
          "kyc_type",
          "legal_name",
          "tax_id",
          "formation_date",
          "email",
          "country",
          "ip_address",
          "address_line_1",
          "city",
          "state_province_region",
          "postal_code",
          "incorporation_doc_file",
          "proof_of_ownership_doc_file",
          "owners"
        ]
      },
      "SAReceiverUpdateIndividualLightKYCAccount": {
        "type": "object",
        "title": "Receiver Individual Light KYC Account",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        }
      },
      "SAReceiverUpdateIndividualStandardKYCAccount": {
        "type": "object",
        "title": "Receiver Individual Standard KYC Account",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "tax_id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "id_doc_country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_type": {
            "type": "string",
            "enum": [
              "passport",
              "id_card"
            ]
          },
          "id_doc_front_file": {
            "type": "string"
          },
          "id_doc_back_file": {
            "type": "string"
          },
          "proof_of_address_doc_type": {
            "type": "string"
          },
          "proof_of_address_doc_file": {
            "type": "string"
          }
        }
      },
      "SAReceiverUpdateBusinessLightKYBAccount": {
        "type": "object",
        "title": "Receiver Business Light KYB Account",
        "properties": {
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        }
      },
      "SAReceiverUpdateBusinessStandardKYBAccount": {
        "type": "object",
        "title": "Receiver Business Standard KYB Account",
        "properties": {
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "website": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "incorporation_doc_file": {
            "type": "string"
          },
          "proof_of_ownership_doc_file": {
            "type": "string"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceiverBusinessOwner"
            }
          }
        }
      },
      "ReceiverBusinessOwner": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_type": {
            "type": "string",
            "enum": [
              "PASSPORT",
              "ID_CARD",
              "DRIVERS"
            ]
          },
          "id_doc_front_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          },
          "id_doc_back_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          },
          "proof_of_address_doc_type": {
            "type": "string",
            "enum": [
              "UTILITY_BILL",
              "BANK_STATEMENT",
              "RENTAL_AGREEMENT",
              "TAX_DOCUMENT",
              "GOVERNMENT_CORRESPONDENCE"
            ]
          },
          "proof_of_address_doc_file": {
            "type": "string",
            "description": "File size should not exceed 3MB"
          }
        },
        "required": [
          "first_name",
          "last_name",
          "role",
          "date_of_birth",
          "tax_id",
          "address_line_1",
          "city",
          "country",
          "state_province_region",
          "postal_code",
          "id_doc_country",
          "id_doc_type",
          "id_doc_front_file",
          "id_doc_back_file",
          "proof_of_address_doc_type",
          "proof_of_address_doc_file"
        ]
      },
      "BrlOfframpPixAccount": {
        "type": "object",
        "title": "BRL Offramp PIX Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "pix"
            ]
          },
          "name": {
            "type": "string"
          },
          "pix_key": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "brl"
            ]
          }
        },
        "required": [
          "type",
          "name",
          "pix_key",
          "currency"
        ]
      },
      "CopOfframpAchCopAccount": {
        "type": "object",
        "title": "COP Offramp ACH_COP Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ach_cop"
            ]
          },
          "name": {
            "type": "string"
          },
          "account_type": {
            "type": "string",
            "enum": [
              "checking",
              "savings"
            ]
          },
          "ach_cop_beneficiary_first_name": {
            "type": "string"
          },
          "ach_cop_beneficiary_last_name": {
            "type": "string"
          },
          "ach_cop_document_id": {
            "type": "string"
          },
          "ach_cop_document_type": {
            "type": "string",
            "enum": [
              "CC",
              "CE",
              "NIT",
              "PASS",
              "PEP"
            ]
          },
          "ach_cop_email": {
            "type": "string"
          },
          "ach_cop_bank_code": {
            "type": "string"
          },
          "ach_cop_bank_account": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "cop"
            ]
          }
        },
        "required": [
          "type",
          "name",
          "account_type",
          "ach_cop_beneficiary_first_name",
          "ach_cop_beneficiary_last_name",
          "ach_cop_document_id",
          "ach_cop_document_type",
          "ach_cop_email",
          "ach_cop_bank_code",
          "ach_cop_bank_account",
          "currency"
        ]
      },
      "ArsOfframpTransfersAccount": {
        "type": "object",
        "title": "ARS Offramp TRANSFERS Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "transfers"
            ]
          },
          "name": {
            "type": "string"
          },
          "transfers_type": {
            "type": "string",
            "enum": [
              "CVU",
              "CBU",
              "ALIAS"
            ]
          },
          "transfers_account": {
            "type": "string"
          },
          "beneficiary_name": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "ars"
            ]
          }
        },
        "required": [
          "type",
          "name",
          "transfers_type",
          "transfers_account",
          "beneficiary_name",
          "currency"
        ]
      },
      "MxnOfframpSpeiAccount": {
        "type": "object",
        "title": "MXN Offramp SPEI Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "spei"
            ]
          },
          "name": {
            "type": "string"
          },
          "spei_protocol": {
            "type": "string",
            "enum": [
              "clabe",
              "debitcard",
              "phonenum"
            ]
          },
          "spei_institution_code": {
            "type": "string"
          },
          "spei_clabe": {
            "type": "string"
          },
          "beneficiary_name": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "mxn"
            ]
          }
        },
        "required": [
          "type",
          "name",
          "spei_protocol",
          "spei_institution_code",
          "beneficiary_name",
          "currency"
        ]
      },
      "UsdOnrampAchAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Bank account added successfully",
          "id": "8ff3c91f-54e9-45ea-939b-23523ecc4ae4"
        }
      },
      "UsdOnrampWireAccountObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "account": {
            "type": "object",
            "properties": {
              "virtualAccountId": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "paymentRails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "sourceCurrency": {
                "type": "string"
              },
              "destinationChain": {
                "type": "string"
              },
              "destinationCurrency": {
                "type": "string"
              },
              "destinationWalletAddress": {
                "type": "string"
              },
              "railStatus": {
                "type": "string"
              },
              "depositInstructions": {
                "type": "object",
                "properties": {
                  "bankName": {
                    "type": "string"
                  },
                  "routingNumber": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "bankAddress": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "example": {
          "message": "US_ACH_WIRE create successfully",
          "account": {
            "virtualAccountId": "21593434-eb2a-4e44-a4d7-fc5700acd8a2",
            "userId": "75d7c01f-5f93-43434-8b93-a62fd8020358",
            "paymentRails": [
              "ach_push",
              "wire"
            ],
            "sourceCurrency": "usd",
            "destinationChain": "POLYGON_MAINNET",
            "destinationCurrency": "usdc",
            "destinationWalletAddress": "0xe039F7FC700194B82EB43E093e9607aE6fcb71c9",
            "railStatus": "activated",
            "depositInstructions": {
              "bankName": "Lead Bank",
              "routingNumber": "101023444",
              "accountNumber": "223401218467",
              "bankAddress": "1801 Main St., Kansas City, MO 64108"
            }
          }
        }
      },
      "UsdOfframpAchAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "583eb259-e78b-4f0c-a4b5-a8957876fa6f"
        }
      },
      "UsdOfframpWireAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "EurOfframpSepaAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "KesOfframpMomoAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "XofOfframpMomoAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "RwfOfframpMomoAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "ZmwOfframpMomoAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "NgnOfframpBankAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "UgxOfframpBankAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "TzsOfframpBankAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "MwkOfframpBankAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "XafOfframpBankAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "SAOfframpReceiverCreateObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "kyc_type": {
            "type": "string"
          }
        },
        "example": {
          "id": "1ad0b5f8-95ac-4d6c-8562-8fdb209c86c3",
          "type": "individual",
          "kyc_type": "light"
        }
      },
      "SAOfframpReceiverUpdateObject": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "success": true,
          "id": "1ad0b5f8-95ac-4d6c-8562-8fdb209c86c3"
        }
      },
      "SAOfframpReceiverGetObject": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "example": {
          "count": 0,
          "data": []
        }
      },
      "BrlOfframpPixAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "c26f5827-9d43-4bf0-88f4-9817c9cceb84"
        }
      },
      "CopOfframpAchCopAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "c26f5827-9d43-4bf0-88f4-9817c9cceb84"
        }
      },
      "MxnOfframpSpeiAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "c26f5827-9d43-4bf0-88f4-9817c9cceb84"
        }
      },
      "ArsOfframpTransfersAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "c26f5827-9d43-4bf0-88f4-9817c9cceb84"
        }
      },
      "AccountObject": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "accountType": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "rail": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string"
              },
              "railType": {
                "type": "string"
              },
              "paymentRail": {
                "type": "string"
              }
            }
          }
        },
        "example": {
          "accountId": "4d9fed63-17e3-4c08-a91e-6e08d0133af0",
          "userId": "0a472717-039b-48bb-894a-a4fc914a1fe4",
          "createdAt": "2024-08-07T15:52:23.093947+00:00",
          "accountType": "SAVINGS",
          "accountNumber": "1111",
          "routingNumber": "011401533",
          "bankName": "Bank of America",
          "rail": {
            "currency": "usd",
            "railType": "onramp",
            "paymentRail": "ach"
          }
        }
      },
      "AllAccountObjects": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "banks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "status": {
                  "type": "string"
                },
                "accountType": {
                  "type": "string"
                },
                "businessIdentifierCode": {
                  "type": "string"
                },
                "accountNumber": {
                  "type": "string"
                },
                "routingNumber": {
                  "type": "string"
                },
                "accountHolderName": {
                  "type": "string"
                },
                "accountHolderCity": {
                  "type": "string"
                },
                "accountHolderCountry": {
                  "type": "string"
                },
                "accountHolderStreetLine1": {
                  "type": "string"
                },
                "accountHolderStateProvinceRegion": {
                  "type": "string"
                },
                "accountHolderPostalCode": {
                  "type": "string"
                },
                "bankCountry": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "rail": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "railType": {
                      "type": "string"
                    },
                    "paymentRail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "count": 1,
          "banks": [
            {
              "accountId": "3032c480-f4e9-462e-ab97-39984bd92c31",
              "createdAt": "2024-08-07T15:53:05.571061+00:00",
              "status": "pending",
              "accountType": "us",
              "businessIdentifierCode": "021000021",
              "accountNumber": "123456789012",
              "routingNumber": "021000021",
              "accountHolderName": "Post Man",
              "accountHolderCity": "New York",
              "accountHolderCountry": "US",
              "accountHolderStreetLine1": "123 Main St",
              "accountHolderStateProvinceRegion": "NY",
              "accountHolderPostalCode": "10001",
              "bankCountry": "US",
              "userId": "0a472717-039b-48bb-894a-a4fc914a1fe4",
              "rail": {
                "currency": "usd",
                "railType": "offramp",
                "paymentRail": "wire"
              }
            }
          ]
        }
      },
      "VirtualAccountObject": {
        "type": "object",
        "properties": {
          "virtualAccountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "paymentRails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceCurrency": {
            "type": "string"
          },
          "destinationChain": {
            "type": "string"
          },
          "destinationCurrency": {
            "type": "string"
          },
          "destinationWalletAddress": {
            "type": "string"
          },
          "railStatus": {
            "type": "string"
          },
          "depositInstructions": {
            "type": "object",
            "properties": {
              "bankName": {
                "type": "string"
              },
              "routingNumber": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "bankAddress": {
                "type": "string"
              }
            }
          },
          "microDeposits": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "eventId": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "sourceBankAccountDetails": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "bankName": {
                          "type": "string"
                        },
                        "routingNumber": {
                          "type": "string"
                        },
                        "traceNumber": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "virtualAccountId": "21593434-eb2a-4e44-a4d7-fc5700acd8a2",
          "userId": "75d7c01f-5f93-43434-8b93-a62fd8020358",
          "paymentRails": [
            "ach_push",
            "wire"
          ],
          "sourceCurrency": "usd",
          "destinationChain": "POLYGON_MAINNET",
          "destinationCurrency": "usdc",
          "destinationWalletAddress": "0xBe64088c19d2F06890343bbE03A6125D7A23dec5",
          "railStatus": "activated",
          "depositInstructions": {
            "bankName": "Lead Bank",
            "routingNumber": "101023444",
            "accountNumber": "223401218467",
            "bankAddress": "1801 Main St., Kansas City, MO 64108"
          },
          "microDeposits": {
            "count": 1,
            "data": [
              {
                "eventId": "8b2e2301-9e9b-40bd-12b7-a189ba73d517",
                "currency": "usd",
                "createdAt": "2024-05-15T12:38:55.841Z",
                "amount": "-0.36",
                "sourceBankAccountDetails": {
                  "description": "ACCTVERIFY CHARLES SCHWAB 5023447 223513 [Mick Burger]",
                  "bankName": "CHARLES SCHWAB",
                  "routingNumber": "032341114",
                  "traceNumber": "03123434516328"
                }
              }
            ]
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not authorized"
          }
        }
      },
      "NotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not Found"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unexpected error happened"
          }
        }
      },
      "Pong": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "pong"
          }
        }
      },
      "CryptoToCryptoTransfer": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the transfer request (recommend using uuid v4)"
          },
          "senderUserId": {
            "type": "string",
            "description": "User Id of the sender"
          },
          "recipientUserId": {
            "type": "string",
            "description": "User Id of the recipient (should either provide recipientUserId or recipientAddress)"
          },
          "recipientAddress": {
            "type": "string",
            "description": "wallet address of the recipient (should either provide recipientUserId or recipientAddress)"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "chain": {
            "type": "string",
            "description": "Choose POLYGON_MAINNET for production, POLYGON_AMOY for sandbox.",
            "enum": [
              "POLYGON_MAINNET",
              "POLYGON_AMOY"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
[...]
