{
  "openapi": "3.0.0",
  "info": {
    "title": "Hifi API",
    "version": "1.0.0",
    "description": "API documentation for Hifi"
  },
  "servers": [
    {
      "url": "https://production.hifibridge.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.hifibridge.com",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Common",
      "description": "Common endpoints"
    },
    {
      "name": "User",
      "description": "User endpoints"
    },
    {
      "name": "Account",
      "description": "Account endpoints"
    },
    {
      "name": "Transfer",
      "description": "Transfer endpoints"
    },
    {
      "name": "Quotes",
      "description": "Quotes endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "AccountIdParameter": {
        "name": "accountId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the account",
        "required": true
      },
      "CurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "eur",
            "brl"
          ]
        },
        "description": "Please provide at least one of the following query params: currency, railType. Eg. Setting 'currency' to 'usd' without setting 'railType' and 'paymentRail' will return all usd accounts under any railType or paymentRail.",
        "required": false
      },
      "RailTypeParameter": {
        "name": "railType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "onramp",
            "offramp"
          ]
        },
        "description": "Please provide at least one of the following query params: currency, railType. Eg. Setting 'railType' to 'offramp' without setting 'currency' and 'paymentRail' will return all offramp accounts under any currency or paymentRail.",
        "required": false
      },
      "PaymentRailParameter": {
        "name": "paymentRail",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "ach",
            "wire",
            "sepa",
            "pix"
          ]
        },
        "required": false
      },
      "RailParameter": {
        "name": "rail",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "US_ACH_WIRE"
          ]
        },
        "required": true
      },
      "DestinationCurrencyParameter": {
        "name": "destinationCurrency",
        "description": "usdt is allowed only on ETHEREUM_MAINNET at this moment",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "DestinationChainParameter": {
        "name": "destinationChain",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Choose POLYGON_MAINNET for production, POLYGON_AMOY for sandbox.",
          "enum": [
            "POLYGON_MAINNET",
            "POLYGON_AMOY"
          ]
        },
        "required": true
      },
      "VALimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "Number of micro deposit records return for the virtual account, default to 10 maximum to 100",
        "required": false
      },
      "VACreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the micro deposit records that created before this eventId",
        "required": false
      },
      "VACreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Return the micro deposit records that created after this eventId",
        "required": false
      },
      "AccountTypeParameter": {
        "name": "accountType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "us",
            "iban"
          ]
        },
        "required": true
      },
      "ReceiverIdParameter": {
        "name": "receiverId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the receiver",
        "required": true
      },
      "ReceiverIdOptionalParameter": {
        "name": "receiverId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "ID of the receiver",
        "required": false
      },
      "LimitParameter": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "string",
          "minimum": 1,
          "maximum": 100
        },
        "description": "default to 10, maximum to 100",
        "required": false
      },
      "CreatedBeforeParameter": {
        "name": "createdBefore",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "format: YYYY-MM-DD",
        "required": false
      },
      "CreatedAfterParameter": {
        "name": "createdAfter",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "description": "format: YYYY-MM-DD",
        "required": false
      },
      "TransferRecordIDParameter": {
        "name": "id",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": true
      },
      "FromCurrencyParameter": {
        "name": "fromCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "required": true
      },
      "ToCurrencyParameter": {
        "name": "toCurrency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usd",
            "eur",
            "brl"
          ]
        },
        "required": true
      },
      "TransferRecordIDOptionalParameter": {
        "name": "id",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Transfer record ID.",
        "required": false
      },
      "TransferTypeParameter": {
        "name": "transferType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "crypto-to-crypto",
            "fiat-to-crypto",
            "crypto-to-fiat"
          ]
        },
        "description": "Transfer type",
        "required": true
      },
      "TransferTypeOptionalParameter": {
        "name": "transferType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "crypto-to-crypto",
            "fiat-to-crypto",
            "crypto-to-fiat"
          ]
        },
        "description": "Transfer type",
        "required": false
      },
      "UserIdParameter": {
        "name": "userId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The user ID.",
        "required": true
      },
      "UserIdOptionalParameter": {
        "name": "userId",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The user ID.",
        "required": false
      },
      "UserTypeParameter": {
        "name": "userType",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "individual",
            "business"
          ]
        },
        "description": "If userType is passed, you will get all users under the type.",
        "required": false
      },
      "ChainParameter": {
        "name": "chain",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "POLYGON_MAINNET",
            "POLYGON_AMOY"
          ]
        },
        "description": "The blockchain network to retrieve the balance from. Currently, only POLYGON_MAINNET is supported in production and only POLYGON_AMOY is supported in sandbox.",
        "required": true
      },
      "CryptoCurrencyParameter": {
        "name": "currency",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "usdc"
          ]
        },
        "description": "The type of currency to check the balance for. Currently, only USDC is supported.",
        "required": true
      }
    },
    "requestBodies": {
      "UsdOnrampAchAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampAchAccount"
            }
          }
        }
      },
      "UsdOnrampWireAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampWireAccount"
            }
          }
        }
      },
      "UsdOfframpAchAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOfframpAchAccount"
            }
          }
        }
      },
      "UsdOfframpWireAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/UsdOfframpWireUSAccount"
                },
                {
                  "$ref": "#/components/schemas/UsdOfframpWireNonUSAccount"
                }
              ]
            }
          }
        }
      },
      "EurOfframpSepaAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EurOfframpSepaAccount"
            }
          }
        }
      },
      "BrlOfframpReceiverCreateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BrlReceiverCreateIndividualLightKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlReceiverCreateIndividualStandardKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlReceiverCreateBusinessLightKYBAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlReceiverCreateBusinessStandardKYBAccount"
                }
              ]
            }
          }
        }
      },
      "BrlOfframpReceiverUpdateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BrlReceiverUpdateIndividualLightKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlReceiverUpdateIndividualStandardKYCAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlReceiverUpdateBusinessLightKYBAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlReceiverUpdateBusinessStandardKYBAccount"
                }
              ]
            }
          }
        }
      },
      "BrlOfframpAccountBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BrlOfframpPixAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlOfframpAchAccount"
                },
                {
                  "$ref": "#/components/schemas/BrlOfframpWireAccount"
                }
              ]
            }
          }
        }
      },
      "CryptoToCryptoTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoTransfer"
            }
          }
        }
      },
      "CryptoToFiatTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatTransfer"
            }
          }
        }
      },
      "FiatToCryptoTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoTransfer"
            }
          }
        }
      },
      "FiatToFiatTransferBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToFiatTransfer"
            }
          }
        }
      },
      "UserCreateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserCreate"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserCreate"
                }
              ]
            }
          }
        }
      },
      "UserUpdateBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IndividualUserUpdate"
                },
                {
                  "$ref": "#/components/schemas/BusinessUserUpdate"
                }
              ]
            }
          }
        }
      },
      "ToSLinkBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLink"
            }
          }
        }
      }
    },
    "responses": {
      "UsdOnrampAchAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampAchAccountObject"
            }
          }
        }
      },
      "UsdOnrampWireAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOnrampWireAccountObject"
            }
          }
        }
      },
      "UsdOfframpAchAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOfframpAchAccountObject"
            }
          }
        }
      },
      "UsdOfframpWireAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UsdOfframpWireAccountObject"
            }
          }
        }
      },
      "EurOfframpSepaAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EurOfframpSepaAccountObject"
            }
          }
        }
      },
      "BrlOfframpReceiverCreateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BrlOfframpReceiverCreateObject"
            }
          }
        }
      },
      "BrlOfframpReceiverUpdateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BrlOfframpReceiverUpdateObject"
            }
          }
        }
      },
      "BrlOfframpReceiverGetResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BrlOfframpReceiverGetObject"
            }
          }
        }
      },
      "BrlOfframpPixAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BrlOfframpPixAccountObject"
            }
          }
        }
      },
      "GetAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AccountObject"
            }
          }
        }
      },
      "GetAllAccountsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllAccountObjects"
            }
          }
        }
      },
      "GetVirtualAccountResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirtualAccountObject"
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFound"
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "PingResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Pong"
            }
          }
        }
      },
      "CryptoToCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoTransferObject"
            }
          }
        }
      },
      "CryptoToFiatTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatTransferObject"
            }
          }
        }
      },
      "FiatToCryptoTransferResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoTransferObject"
            }
          }
        }
      },
      "CryptoToCryptoRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoRecordObject"
            }
          }
        }
      },
      "CryptoToFiatRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatRecordObject"
            }
          }
        }
      },
      "FiatToCryptoRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoRecordObject"
            }
          }
        }
      },
      "FiatToFiatRecordResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToFiatRecordObject"
            }
          }
        }
      },
      "CryptoToCryptoAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToCryptoAllRecordsObject"
            }
          }
        }
      },
      "CryptoToFiatAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatAllRecordsObject"
            }
          }
        }
      },
      "FiatToCryptoAllRecordsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FiatToCryptoAllRecordsObject"
            }
          }
        }
      },
      "CryptoToFiatConversionRateResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CryptoToFiatConversionRateObject"
            }
          }
        }
      },
      "AcceptFiatToCryptoQuoteResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AcceptFiatToCryptoQuoteObject"
            }
          }
        }
      },
      "UserObjectPendingResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UserObjectPending"
            }
          }
        }
      },
      "UserObjectActiveResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UserObjectActive"
            }
          }
        }
      },
      "AllUserObjectsResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AllUserObjects"
            }
          }
        }
      },
      "ToSLinkObjectResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ToSLinkObject"
            }
          }
        }
      },
      "WalletBalanceResponse": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WalletBalanceObject"
            }
          }
        }
      }
    },
    "schemas": {
      "UsdOnrampAchAccount": {
        "type": "object",
        "properties": {
          "plaidProcessorToken": {
            "type": "string",
            "description": "See https://plaid.com/docs/api/processors/"
          },
          "bankName": {
            "type": "string"
          },
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVING",
              "BUSINESS"
            ]
          },
          "createVirtualAccount": {
            "type": "boolean"
          }
        },
        "required": [
          "plaidProcessorToken",
          "bankName",
          "accountType",
          "createVirtualAccount"
        ]
      },
      "UsdOnrampWireAccount": {
        "type": "object",
        "properties": {
          "rail": {
            "type": "string",
            "description": "Passing \"US_ACH_WIRE\" allows the user to do USD onramp through both ACH and Wire.",
            "enum": [
              "US_ACH_WIRE"
            ]
          },
          "destinationCurrency": {
            "type": "string",
            "enum": [
              "usdt",
              "usdc"
            ]
          },
          "destinationChain": {
            "type": "string",
            "enum": [
              "POLYGON_MAINNET",
              "ETHEREUM_MAINNET"
            ]
          }
        },
        "required": [
          "rail"
        ]
      },
      "UsdOfframpAchAccount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "usd"
            ]
          },
          "bankName": {
            "type": "string",
            "description": "e.g. Chase, Bank of America"
          },
          "accountOwnerName": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "accountOwnerType": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ]
          },
          "streetLine1": {
            "type": "string",
            "description": "This has to be a valid street address."
          },
          "streetLine2": {
            "type": "string",
            "description": "This has to be a valid street address. Eg. It cannot be a PO Box."
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "description": "ISO 3166-2 subdivision code. e.g. CA"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec. Currently must be passed as \"USA\"."
          }
        },
        "required": [
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "accountNumber",
          "routingNumber",
          "streetLine1",
          "city",
          "state",
          "postalCode",
          "country"
        ]
      },
      "UsdOfframpWireUSAccount": {
        "type": "object",
        "title": "USD Offramp Wire to US Bank Account",
        "properties": {
          "accountType": {
            "type": "string",
            "enum": [
              "us",
              "iban"
            ]
          },
          "currency": {
            "type": "string",
            "description": "Currency denomination of the destination bank account. Must be usd.",
            "enum": [
              "usd"
            ]
          },
          "bankName": {
            "type": "string",
            "example": "Bank of America"
          },
          "accountOwnerName": {
            "type": "string",
            "example": "John Doe"
          },
          "accountOwnerType": {
            "type": "string",
            "description": "Specify 'business' if the account is owned by a business, otherwise 'individual'. If 'business', 'businessName' is required. If 'individual', 'firstName' and 'lastName' are required.",
            "enum": [
              "business",
              "individual"
            ]
          },
          "businessName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'business'.",
            "example": "Doe Enterprises"
          },
          "firstName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "Doe"
          },
          "accountNumber": {
            "type": "string",
            "example": "1234567890"
          },
          "routingNumber": {
            "type": "string",
            "example": "011000138"
          },
          "streetLine1": {
            "type": "string",
            "example": "123 Main St"
          },
          "streetLine2": {
            "type": "string",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec.",
            "example": "USA"
          }
        },
        "required": [
          "accountType",
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "accountNumber",
          "routingNumber",
          "streetLine1",
          "city",
          "state",
          "postalCode",
          "country"
        ]
      },
      "UsdOfframpWireNonUSAccount": {
        "type": "object",
        "title": "USD Offramp Wire to Non-US Bank Account",
        "properties": {
          "accountType": {
            "type": "string",
            "enum": [
              "us",
              "iban"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "usd"
            ]
          },
          "bankName": {
            "type": "string",
            "example": "Deutsche Bank"
          },
          "accountOwnerName": {
            "type": "string",
            "example": "John Doe"
          },
          "ibanAccountNumber": {
            "type": "string",
            "description": "The IBAN for the bank account.",
            "example": "DE89 3704 0044 0532 0130 00"
          },
          "accountOwnerType": {
            "type": "string",
            "description": "Specify 'business' or 'individual'. Relevant name fields must be provided based on this type.",
            "enum": [
              "business",
              "individual"
            ]
          },
          "firstName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'individual'.",
            "example": "Doe"
          },
          "businessName": {
            "type": "string",
            "description": "Required if 'accountOwnerType' is 'business'.",
            "example": "Doe Enterprises"
          },
          "businessIdentifierCode": {
            "type": "string",
            "description": "Also known as SWIFT code.",
            "example": "DEUTDEDBFRA"
          },
          "ibanCountryCode": {
            "type": "string",
            "description": "Three-letter alpha-3 country code as defined in the ISO 3166-1 spec.",
            "example": "DEU"
          },
          "streetLine1": {
            "type": "string",
            "example": "123 Berlin St"
          },
          "streetLine2": {
            "type": "string",
            "example": "Building A"
          },
          "city": {
            "type": "string",
            "example": "Berlin"
          },
          "state": {
            "type": "string",
            "example": "Berlin"
          },
          "postalCode": {
            "type": "string",
            "example": "10115"
          },
          "country": {
            "type": "string",
            "example": "Germany"
          }
        },
        "required": [
          "accountType",
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "ibanAccountNumber",
          "businessIdentifierCode",
          "ibanCountryCode",
          "streetLine1",
          "city",
          "postalCode",
          "country"
        ]
      },
      "UsdOfframpWireNonUSIbanSupportedAccount": {
        "type": "object",
        "title": "USD Offramp Wire Iban Supported",
        "properties": {
          "iban": {
            "type": "string",
            "description": "Either a swift account number or iban must be provided."
          },
          "accountHolderName": {
            "type": "string"
          },
          "accountHolderCity": {
            "type": "string"
          },
          "accountHolderCountry": {
            "type": "string"
          },
          "accountHolderStreetLine1": {
            "type": "string"
          },
          "accountHolderStreetLine2": {
            "type": "string"
          },
          "accountHolderStateProvinceRegion": {
            "type": "string"
          },
          "accountHolderPostalCode": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCity": {
            "type": "string"
          },
          "bankCountry": {
            "type": "string"
          },
          "bankStreetLine1": {
            "type": "string"
          },
          "bankStreetLine2": {
            "type": "string"
          },
          "bankStateProvinceRegion": {
            "type": "string"
          }
        },
        "required": [
          "iban",
          "accountHolderName",
          "accountHolderCity",
          "accountHolderCountry",
          "accountHolderStreetLine1",
          "accountHolderPostalCode",
          "bankCity",
          "bankCountry"
        ]
      },
      "UsdOfframpWireNonUSIbanUnsupportedAccount": {
        "type": "object",
        "title": "USD Offramp Wire Non-US Iban Unsupported",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Either a swift account number or iban must be provided."
          },
          "businessIdentifierCode": {
            "type": "string"
          },
          "accountHolderName": {
            "type": "string"
          },
          "accountHolderCity": {
            "type": "string"
          },
          "accountHolderCountry": {
            "type": "string"
          },
          "accountHolderStreetLine1": {
            "type": "string"
          },
          "accountHolderStreetLine2": {
            "type": "string"
          },
          "accountHolderStateProvinceRegion": {
            "type": "string"
          },
          "accountHolderPostalCode": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCity": {
            "type": "string"
          },
          "bankCountry": {
            "type": "string"
          },
          "bankStreetLine1": {
            "type": "string"
          },
          "bankStreetLine2": {
            "type": "string"
          },
          "bankStateProvinceRegion": {
            "type": "string"
          }
        },
        "required": [
          "accountNumber",
          "businessIdentifierCode",
          "accountHolderName",
          "accountHolderCity",
          "accountHolderCountry",
          "accountHolderStreetLine1",
          "accountHolderPostalCode",
          "bankName",
          "bankCity",
          "bankCountry"
        ]
      },
      "EurOfframpSepaAccount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "eur"
            ]
          },
          "bankName": {
            "type": "string",
            "description": "e.g. Deutsche Bank"
          },
          "accountOwnerName": {
            "type": "string"
          },
          "accountOwnerType": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ]
          },
          "ibanAccountNumber": {
            "type": "string",
            "description": "The International Bank Account Number (IBAN) that will be used to send the funds."
          },
          "ibanCountryCode": {
            "type": "string",
            "description": "Country in which the bank account is located. It's a three-letter alpha-3 country code as defined in the ISO 3166-1 spec."
          },
          "businessIdentifierCode": {
            "type": "string",
            "description": "The Business Identifier Code (BIC) that will be used to send the funds."
          },
          "firstName": {
            "type": "string",
            "description": "Required when accountOwnerType == \"individual\""
          },
          "lastName": {
            "type": "string",
            "description": "Required when accountOwnerType == \"individual\""
          },
          "businessName": {
            "type": "string",
            "description": "Required when accountOwnerType == \"business\""
          }
        },
        "required": [
          "currency",
          "bankName",
          "accountOwnerName",
          "accountOwnerType",
          "ibanAccountNumber",
          "businessIdentifierCode",
          "ibanCountryCode"
        ]
      },
      "BrlReceiverCreateIndividualLightKYCAccount": {
        "type": "object",
        "title": "BRL Receiver Individual Light KYC Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "individual"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "light"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        },
        "required": [
          "type",
          "kyc_type",
          "first_name",
          "last_name",
          "date_of_birth",
          "email",
          "country"
        ]
      },
      "BrlReceiverCreateIndividualStandardKYCAccount": {
        "type": "object",
        "title": "BRL Receiver Individual Standard KYC Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "individual"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "standard"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "tax_id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "id_doc_country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_type": {
            "type": "string",
            "enum": [
              "passport",
              "id_card"
            ]
          },
          "id_doc_front_file": {
            "type": "string"
          },
          "id_doc_back_file": {
            "type": "string"
          },
          "proof_of_address_doc_type": {
            "type": "string"
          },
          "proof_of_address_doc_file": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "kyc_type",
          "first_name",
          "last_name",
          "date_of_birth",
          "email",
          "country",
          "tax_id",
          "ip_address",
          "address_line_1",
          "city",
          "state_province_region",
          "postal_code",
          "id_doc_country",
          "id_doc_type",
          "id_doc_front_file"
        ]
      },
      "BrlReceiverCreateBusinessLightKYBAccount": {
        "type": "object",
        "title": "BRL Receiver Business Light KYB Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "business"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "light"
            ]
          },
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        },
        "required": [
          "type",
          "kyc_type",
          "legal_name",
          "tax_id",
          "formation_date",
          "email",
          "country"
        ]
      },
      "BrlReceiverCreateBusinessStandardKYBAccount": {
        "type": "object",
        "title": "BRL Receiver Business Standard KYB Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "business"
            ]
          },
          "kyc_type": {
            "type": "string",
            "enum": [
              "standard"
            ]
          },
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "website": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "incorporation_doc_file": {
            "type": "string"
          },
          "proof_of_ownership_doc_file": {
            "type": "string"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceiverBusinessOwner"
            }
          }
        },
        "required": [
          "type",
          "kyc_type",
          "legal_name",
          "tax_id",
          "formation_date",
          "email",
          "country",
          "ip_address",
          "address_line_1",
          "city",
          "state_province_region",
          "postal_code",
          "incorporation_doc_file",
          "proof_of_ownership_doc_file",
          "owners"
        ]
      },
      "BrlReceiverUpdateIndividualLightKYCAccount": {
        "type": "object",
        "title": "BRL Receiver Individual Light KYC Account",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        }
      },
      "BrlReceiverUpdateIndividualStandardKYCAccount": {
        "type": "object",
        "title": "BRL Receiver Individual Standard KYC Account",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Date of birth in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "tax_id": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "id_doc_country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_type": {
            "type": "string",
            "enum": [
              "passport",
              "id_card"
            ]
          },
          "id_doc_front_file": {
            "type": "string"
          },
          "id_doc_back_file": {
            "type": "string"
          },
          "proof_of_address_doc_type": {
            "type": "string"
          },
          "proof_of_address_doc_file": {
            "type": "string"
          }
        }
      },
      "BrlReceiverUpdateBusinessLightKYBAccount": {
        "type": "object",
        "title": "BRL Receiver Business Light KYB Account",
        "properties": {
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          }
        }
      },
      "BrlReceiverUpdateBusinessStandardKYBAccount": {
        "type": "object",
        "title": "BRL Receiver Business Standard KYB Account",
        "properties": {
          "legal_name": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "formation_date": {
            "type": "string",
            "description": "date in format yyyy-mm-dd",
            "format": "date"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "website": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "incorporation_doc_file": {
            "type": "string"
          },
          "proof_of_ownership_doc_file": {
            "type": "string"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceiverBusinessOwner"
            }
          }
        }
      },
      "ReceiverBusinessOwner": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "id_doc_type": {
            "type": "string",
            "enum": [
              "passport",
              "id_card"
            ]
          },
          "id_doc_front_file": {
            "type": "string"
          },
          "id_doc_back_file": {
            "type": "string"
          },
          "proof_of_address_doc_type": {
            "type": "string"
          },
          "proof_of_address_doc_file": {
            "type": "string"
          }
        },
        "required": [
          "first_name",
          "last_name",
          "role",
          "date_of_birth",
          "tax_id",
          "address_line_1",
          "city",
          "country",
          "state_province_region",
          "postal_code",
          "id_doc_country",
          "id_doc_type",
          "id_doc_front_file",
          "id_doc_back_file",
          "proof_of_address_doc_type",
          "proof_of_address_doc_file"
        ]
      },
      "BrlOfframpPixAccount": {
        "type": "object",
        "title": "BRL Offramp Pix Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "pix"
            ]
          },
          "name": {
            "type": "string"
          },
          "pix_key": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "pix_key"
        ]
      },
      "BrlOfframpAchAccount": {
        "type": "object",
        "title": "BRL Offramp Ach Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ach"
            ]
          },
          "name": {
            "type": "string"
          },
          "beneficiary_name": {
            "type": "string"
          },
          "routing_number": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          },
          "account_type": {
            "type": "string"
          },
          "account_class": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "beneficiary_name",
          "routing_number",
          "account_number",
          "account_type",
          "account_class"
        ]
      },
      "BrlOfframpWireAccount": {
        "type": "object",
        "title": "BRL Offramp Wire Account",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "wire"
            ]
          },
          "name": {
            "type": "string"
          },
          "beneficiary_name": {
            "type": "string"
          },
          "routing_number": {
            "type": "string"
          },
          "account_number": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state_province_region": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "Two-letter alpha-2 country codes as defined in the ISO 3166-1 spec. eg. \"US\"."
          },
          "postal_code": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "beneficiary_name",
          "routing_number",
          "account_number",
          "address_line_1",
          "address_line_2",
          "city",
          "state_province_region",
          "country",
          "postal_code"
        ]
      },
      "UsdOnrampAchAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Bank account added successfully",
          "id": "8ff3c91f-54e9-45ea-939b-23523ecc4ae4"
        }
      },
      "UsdOnrampWireAccountObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "account": {
            "type": "object",
            "properties": {
              "virtualAccountId": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "paymentRails": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "sourceCurrency": {
                "type": "string"
              },
              "destinationChain": {
                "type": "string"
              },
              "destinationCurrency": {
                "type": "string"
              },
              "destinationWalletAddress": {
                "type": "string"
              },
              "railStatus": {
                "type": "string"
              },
              "depositInstructions": {
                "type": "object",
                "properties": {
                  "bankName": {
                    "type": "string"
                  },
                  "routingNumber": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "bankAddress": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "example": {
          "message": "US_ACH_WIRE create successfully",
          "account": {
            "virtualAccountId": "21593434-eb2a-4e44-a4d7-fc5700acd8a2",
            "userId": "75d7c01f-5f93-43434-8b93-a62fd8020358",
            "paymentRails": [
              "ach_push",
              "wire"
            ],
            "sourceCurrency": "usd",
            "destinationChain": "POLYGON_MAINNET",
            "destinationCurrency": "usdc",
            "destinationWalletAddress": "0xe039F7FC700194B82EB43E093e9607aE6fcb71c9",
            "railStatus": "activated",
            "depositInstructions": {
              "bankName": "Lead Bank",
              "routingNumber": "101023444",
              "accountNumber": "223401218467",
              "bankAddress": "1801 Main St., Kansas City, MO 64108"
            }
          }
        }
      },
      "UsdOfframpAchAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "583eb259-e78b-4f0c-a4b5-a8957876fa6f"
        }
      },
      "UsdOfframpWireAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "EurOfframpSepaAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553a"
        }
      },
      "BrlOfframpReceiverCreateObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "kyc_type": {
            "type": "string"
          }
        },
        "example": {
          "id": "1ad0b5f8-95ac-4d6c-8562-8fdb209c86c3",
          "type": "individual",
          "kyc_type": "light"
        }
      },
      "BrlOfframpReceiverUpdateObject": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "success": true,
          "id": "1ad0b5f8-95ac-4d6c-8562-8fdb209c86c3"
        }
      },
      "BrlOfframpReceiverGetObject": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "example": {
          "count": 0,
          "data": []
        }
      },
      "BrlOfframpPixAccountObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "invalidFields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "example": {
          "status": "ACTIVE",
          "invalidFields": [],
          "message": "Account created successfully",
          "id": "c26f5827-9d43-4bf0-88f4-9817c9cceb84"
        }
      },
      "AccountObject": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "accountType": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "rail": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string"
              },
              "railType": {
                "type": "string"
              },
              "paymentRail": {
                "type": "string"
              }
            }
          }
        },
        "example": {
          "accountId": "4d9fed63-17e3-4c08-a91e-6e08d0133af0",
          "userId": "0a472717-039b-48bb-894a-a4fc914a1fe4",
          "createdAt": "2024-08-07T15:52:23.093947+00:00",
          "accountType": "SAVINGS",
          "accountNumber": "1111",
          "routingNumber": "011401533",
          "bankName": "Bank of America",
          "rail": {
            "currency": "usd",
            "railType": "onramp",
            "paymentRail": "ach"
          }
        }
      },
      "AllAccountObjects": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "banks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "status": {
                  "type": "string"
                },
                "accountType": {
                  "type": "string"
                },
                "businessIdentifierCode": {
                  "type": "string"
                },
                "accountNumber": {
                  "type": "string"
                },
                "routingNumber": {
                  "type": "string"
                },
                "accountHolderName": {
                  "type": "string"
                },
                "accountHolderCity": {
                  "type": "string"
                },
                "accountHolderCountry": {
                  "type": "string"
                },
                "accountHolderStreetLine1": {
                  "type": "string"
                },
                "accountHolderStateProvinceRegion": {
                  "type": "string"
                },
                "accountHolderPostalCode": {
                  "type": "string"
                },
                "bankCountry": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "rail": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string"
                    },
                    "railType": {
                      "type": "string"
                    },
                    "paymentRail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "count": 1,
          "banks": [
            {
              "accountId": "3032c480-f4e9-462e-ab97-39984bd92c31",
              "createdAt": "2024-08-07T15:53:05.571061+00:00",
              "status": "pending",
              "accountType": "us",
              "businessIdentifierCode": "021000021",
              "accountNumber": "123456789012",
              "routingNumber": "021000021",
              "accountHolderName": "Post Man",
              "accountHolderCity": "New York",
              "accountHolderCountry": "US",
              "accountHolderStreetLine1": "123 Main St",
              "accountHolderStateProvinceRegion": "NY",
              "accountHolderPostalCode": "10001",
              "bankCountry": "US",
              "userId": "0a472717-039b-48bb-894a-a4fc914a1fe4",
              "rail": {
                "currency": "usd",
                "railType": "offramp",
                "paymentRail": "wire"
              }
            }
          ]
        }
      },
      "VirtualAccountObject": {
        "type": "object",
        "properties": {
          "virtualAccountId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "paymentRails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceCurrency": {
            "type": "string"
          },
          "destinationChain": {
            "type": "string"
          },
          "destinationCurrency": {
            "type": "string"
          },
          "destinationWalletAddress": {
            "type": "string"
          },
          "railStatus": {
            "type": "string"
          },
          "depositInstructions": {
            "type": "object",
            "properties": {
              "bankName": {
                "type": "string"
              },
              "routingNumber": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "bankAddress": {
                "type": "string"
              }
            }
          },
          "microDeposits": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "eventId": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "sourceBankAccountDetails": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "bankName": {
                          "type": "string"
                        },
                        "routingNumber": {
                          "type": "string"
                        },
                        "traceNumber": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "example": {
          "virtualAccountId": "21593434-eb2a-4e44-a4d7-fc5700acd8a2",
          "userId": "75d7c01f-5f93-43434-8b93-a62fd8020358",
          "paymentRails": [
            "ach_push",
            "wire"
          ],
          "sourceCurrency": "usd",
          "destinationChain": "POLYGON_MAINNET",
          "destinationCurrency": "usdc",
          "destinationWalletAddress": "0xBe64088c19d2F06890343bbE03A6125D7A23dec5",
          "railStatus": "activated",
          "depositInstructions": {
            "bankName": "Lead Bank",
            "routingNumber": "101023444",
            "accountNumber": "223401218467",
            "bankAddress": "1801 Main St., Kansas City, MO 64108"
          },
          "microDeposits": {
            "count": 1,
            "data": [
              {
                "eventId": "8b2e2301-9e9b-40bd-12b7-a189ba73d517",
                "currency": "usd",
                "createdAt": "2024-05-15T12:38:55.841Z",
                "amount": "-0.36",
                "sourceBankAccountDetails": {
                  "description": "ACCTVERIFY CHARLES SCHWAB 5023447 223513 [Mick Burger]",
                  "bankName": "CHARLES SCHWAB",
                  "routingNumber": "032341114",
                  "traceNumber": "03123434516328"
                }
              }
            ]
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not authorized"
          }
        }
      },
      "NotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not Found"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Unexpected error happened"
          }
        }
      },
      "Pong": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "pong"
          }
        }
      },
      "CryptoToCryptoTransfer": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the transfer request (recommend using uuid v4)"
          },
          "senderUserId": {
            "type": "string",
            "description": "User Id of the sender"
          },
          "recipientUserId": {
            "type": "string",
            "description": "User Id of the recipient (should either provide recipientUserId or recipientAddress)"
          },
          "recipientAddress": {
            "type": "string",
            "description": "wallet address of the recipient (should either provide recipientUserId or recipientAddress)"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "chain": {
            "type": "string",
            "description": "Choose POLYGON_MAINNET for production, POLYGON_AMOY for sandbox.",
            "enum": [
              "POLYGON_MAINNET",
              "POLYGON_AMOY"
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "usdc"
            ]
          },
          "feeType": {
            "type": "string",
            "enum": [
              "PERCENT",
              "FIX"
            ]
          },
          "feeValue": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "note: 0.01 equals to 1% when feeType is set to PERCENT, checkout https://docs.hifibridge.com/docs/fee-collection for more information)"
          }
        },
        "required": [
          "senderUserId",
          "amount",
          "requestId",
          "chain",
          "currency"
        ]
      },
      "CryptoToFiatTransfer": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the transfer request (recommend using uuid v4)"
          },
          "sourceUserId": {
            "type": "string"
          },
          "destinationUserId": {
            "type": "string",
            "description": "If destination account was created under the sourceUserId, the destinationUserId will be the same id. You can specify a different destinationUserId if offramping to a bank account created under a different userId than the sender."
          },
          "destinationAccountId": {
            "type": "string",
            "description": "Account Id of the destination bank account"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "chain": {
            "type": "string",
            "description": "Choose POLYGON_MAINNET for production, POLYGON_AMOY for sandbox.",
            "enum": [
              "POLYGON_MAINNET",
              "POLYGON_AMOY"
            ]
          },
          "sourceCurrency": {
            "type": "string",
            "enum": [
              "usdc"
            ]
          },
          "destinationCurrency": {
            "type": "string",
            "enum": [
              "usd",
              "eur",
              "brl"
            ]
          },
          "sameDayAch": {
            "type": "boolean",
            "description": "Routes offramp for same day ACH transfer for a $1 additional fee"
          },
          "feeType": {
            "type": "string",
            "enum": [
              "PERCENT",
              "FIX"
            ]
          },
          "feeValue": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "note: 0.01 equals to 1% when feeType is set to PERCENT, checkout https://docs.hifibridge.com/docs/fee-collection for more information)"
          },
          "wireMessage": {
            "type": "string",
            "description": "A message to be sent with a wire transfer, only allowed when the payment rail is a wire. This message will be validated against 4 lines, each with a max length of 35 char according to the Fedwire standard."
          },
          "achReference": {
            "type": "string",
            "description": "A reference message to be sent with an ACH transaction. It can be at most 10 characters, A-Z, a-z, 0-9, and spaces. Note that as of 2024-08-06, setting this field is only supported for certain developers while we work on rolling out general support for everyone."
          },
          "sepaReference": {
            "type": "string",
            "description": "A reference message to be sent with a SEPA transaction. It must be from 6 to 140 characters. The allowed characters are a-z, A-Z, 0-9, spaces, ampersand (&), hyphen (-), full stop (.), and solidus (/)."
          },
          "swiftReference": {
            "type": "string",
            "description": "A payment reference message or remittance information to be included in a SWIFT transaction. It can have at most 4 lines (separated by \"\\n\"), each line with a max length of 35 chars. The allowed characters are a-z, A-Z, 0-9, special characters (/ - ? : ( ) . , ' +), and spaces.\n"
          }
        },
        "required": [
          "requestId",
          "sourceUserId",
          "destinationUserId",
          "destinationAccountId",
          "amount",
          "chain",
          "sourceCurrency",
          "destinationCurrency",
          "paymentRail"
        ]
      },
      "FiatToCryptoTransfer": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the transfer request (recommend using uuid v4)"
          },
          "sourceUserId": {
            "type": "string",
            "description": "User which will be pull the fiat bank account from"
          },
          "sourceAccountId": {
            "type": "string",
            "description": "Account Id of the source bank account"
          },
          "destinationUserId": {
            "type": "string",
            "description": "User which will be receiving the crypto"
          },
          "sourceCurrency": {
            "type": "string",
            "enum": [
              "usd"
            ]
          },
          "destinationCurrency": {
            "type": "string",
            "enum": [
              "usdc",
              "usdt"
            ]
          },
          "amount": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "chain": {
            "type": "string",
            "description": "Choose POLYGON_MAINNET for production, POLYGON_AMOY for sandbox.",
            "enum": [
              "POLYGON_MAINNET",
              "POLYGON_AMOY",
              "ETHEREUM_MAINNET"
            ]
          },
          "isInstant": {
            "type": "boolean",
            "description": "(Not implemented yet)",
            "default": false
          },
          "feeType": {
            "type": "string",
            "enum": [
              "PERCENT",
              "FIX"
            ]
          },
          "feeValue": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "note: 0.01 equals to 1% when feeType is set to PERCENT, checkout https://docs.hifibridge.com/docs/fee-collection for more information)"
          }
        },
        "required": [
          "requestId",
          "sourceUserId",
          "destinationUserId",
          "amount",
          "sourceCurrency",
          "destinationCurrency",
          "chain",
          "sourceAccountId",
          "isInstant"
        ]
      },
      "FiatToFiatTransfer": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the transfer request (recommend using uuid v4)"
          },
          "sourceUserId": {
            "type": "string",
            "description": "User who owns the USD onramp Plaid bank account specified by the `sourceAccountId`.\n"
          },
          "sourceAccountId": {
            "type": "string",
            "description": "Account Id of the USD onramp Plaid bank account."
          },
          "accountNumber": {
            "type": "string"
          },
          "routingNumber": {
            "type": "string"
          },
          "recipientName": {
            "type": "string",
            "description": "Name of the recipient."
          },
          "type": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS",
              "BUSINESS"
            ]
          },
          "amount": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "currency": {
            "type": "boolean",
            "enum": [
              "usd"
            ]
          },
          "memo": {
            "type": "string"
          }
        },
        "required": [
          "requestId",
          "sourceUserId",
          "sourceAccountId",
          "accountNumber",
          "routingNumber",
          "recipientName",
          "type",
          "amount",
          "currency"
        ]
      },
      "CryptoToCryptoTransferObject": {
        "type": "object",
        "properties": {
          "transferType": {
            "type": "string"
          },
          "transferDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "senderUserId": {
                "type": "string"
              },
              "recipientUserId": {
                "type": "string"
              },
              "recipientAddress": {
                "type": "string"
              },
              "chain": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "transactionHash": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "description": "Status of the transfer. See [Transfer](https://docs.hifibridge.com/docs/core-api-transfer) for more details.\n\n`CREATED`, `ACCEPTED`, `SUBMITTED`, `CONFIRMED`, `FAILED`, `PENDING`\n"
              },
              "contractAddress": {
                "type": "string"
              },
              "failedReason": {
                "type": "string"
              },
              "fee": {
                "$ref": "#/components/schemas/FeeObject"
              }
            }
          }
        },
        "example": {
          "transferType": "CRYPTO_TO_CRYPTO",
          "transferDetails": {
            "id": "0b9a8c80-3ce3-weee-9d94-8a8ac43a2543",
            "requestId": "5d0a55aa-9a2a-486a-a57e-d5d9e576cf6d",
            "senderUserId": "75d7c01f-5f93-4490-8b93-a62fd8020358",
            "recipientUserId": "0c91a2a3-b0da-4779-bd15-2b29b8854de4",
            "recipientAddress": "0x89dfD8792c7E7041c24F01223929F1d8Dd642F0c",
            "chain": "POLYGON_MAINNET",
            "currency": "usdc",
            "amount": 10,
            "transactionHash": "0x23188ac9f798d97d481f8684jgk4a74cd885ed8bcff9d52d8bb7c3a2f54a3a59",
            "createdAt": "2024-06-25T20:41:57.671322+00:00",
            "status": "SUBMITTED",
            "contractAddress": "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359",
            "failedReason": "",
            "fee": {
              "feeId": "15698c9b-6761-42ef-8c0c-96f5f983ba7d",
              "feeType": "FIX",
              "feeAmount": 0.01,
              "feePercent": 0,
              "status": "CONFIRMED",
              "transactionHash": "0x23188ac9f798d97d481f8684jgk4a74cd885ed8bcff9d52d8bb7c3a2f54a3a59",
              "failedReason": null
            }
          }
        }
      },
      "CryptoToFiatTransferObject": {
        "type": "object",
        "properties": {
          "transferType": {
            "type": "string"
          },
          "transferDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "chain": {
                "type": "string"
              },
              "sourceCurrency": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "destinationCurrency": {
                "type": "string"
              },
              "destinationAccountId": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "description": "Status of the transfer. See [Transfer](https://docs.hifibridge.com/docs/core-api-transfer) for more details.\n\n`NOT_INITIATED`, `CREATED`, `SUBMITTED_ONCHAIN`, `COMPLETED_ONCHAIN`, `IN_PROGRESS_FIAT`, `INITIATED_FIAT`, `COMPLETED`, `FAILED_ONCHAIN`, \n`FAILED_FIAT_RETURNED`, `FAILED_FIAT_REFUNDED`, `FAILED_UNKNOWN`\n"
              },
              "contractAddress": {
                "type": "string"
              },
              "sourceUser": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "nullable": true
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string"
                  },
                  "legalFirstName": {
                    "type": "string"
                  }
                }
              },
              "destinationUser": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "nullable": true
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string"
                  },
                  "legalFirstName": {
                    "type": "string"
                  }
                }
              },
              "destinationAccount": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "accountOwnerName": {
                    "type": "string"
                  },
                  "bankName": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "routingNumber": {
                    "type": "string"
                  },
                  "accountType": {
                    "type": "string"
                  },
                  "businessIdentifierCode": {
                    "type": "string",
                    "nullable": true
                  },
                  "bankCountry": {
                    "type": "string",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "nullable": true
                  },
                  "beneficiaryFirstName": {
                    "type": "string",
                    "nullable": true
                  },
                  "beneficiaryLastName": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "ConversionRate": {
                "type": "object",
                "properties": {
                  "validFrom": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "toCurrency": {
                    "type": "string"
                  },
                  "validUntil": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "fromCurrency": {
                    "type": "string"
                  },
                  "conversionRate": {
                    "type": "number",
                    "format": "float"
                  }
                }
              },
              "fee": {
                "$ref": "#/components/schemas/FeeObject"
              }
            }
          }
        },
        "example": {
          "transferType": "CRYPTO_TO_FIAT",
          "transferDetails": {
            "id": "7b7e012e-5c19-4398-b5c0-158ac6dd4fe6",
            "requestId": "0ac9c021-021e-4253-af31-2a3867024a8a",
            "sourceUserId": "75d7c01f-5f93-4490-8b93-a62fd8020358",
            "destinationUserId": "75d7c01f-5f93-4490-8b93-a62fd8020358",
            "chain": "POLYGON_MAINNET",
            "sourceCurrency": "usdc",
            "amount": 1.23,
            "destinationCurrency": "usd",
            "liquidationAddress": null,
            "destinationAccountId": "daa6ad75-a4c2-486f-a937-1bbf4d19553c",
            "transactionHash": null,
            "createdAt": "2024-08-11T03:35:30.921875+00:00",
            "updatedAt": "2024-08-11T03:35:30.921875+00:00",
            "status": "CREATED",
            "contractAddress": 3.441810188089762e+47,
            "sourceUser": {
              "businessName": null,
              "legalLastName": "YANG",
              "complianceEmail": "william@hifibridge.com",
              "legalFirstName": "William"
            },
            "destinationUser": {
              "businessName": null,
              "legalLastName": "YANG",
              "complianceEmail": "william@hifibridge.com",
              "legalFirstName": "William"
            },
            "destinationAccount": {
              "id": "daa6ad75-a4c2-486f-a937-1bbf4d19553c",
              "accountOwnerName": "Wei Yu, Yang",
              "bankName": "Bank of Aerica",
              "accountNumber": 483101817874,
              "routingNumber": 21000322,
              "accountType": "us",
              "businessIdentifierCode": null,
              "bankCountry": null,
              "iban": null,
              "beneficiaryFirstName": null,
              "beneficiaryLastName": null
            },
            "failedReason": null,
            "fee": {
              "feeId": "20719aea-411f-4e0a-b377-61163c09435a",
              "feeType": "PERCENT",
              "feeAmount": 0.01,
              "feePercent": 0.01,
              "status": "CREATED",
              "transactionHash": null,
              "failedReason": null
            },
            "conversionRate": {
              "validFrom": "2024-08-11T03:35:30.809Z",
              "toCurrency": "usd",
              "validUntil": "2024-08-11T03:36:00.809Z",
              "fromCurrency": "usdc",
              "conversionRate": 1
            }
          }
        }
      },
      "FiatToCryptoTransferObject": {
        "type": "object",
        "properties": {
          "transferType": {
            "type": "string"
          },
          "transferDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "sourceUserId": {
                "type": "string"
              },
              "destinationUserId": {
                "type": "string"
              },
              "chain": {
                "type": "string"
              },
              "sourceCurrency": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "destinationCurrency": {
                "type": "string"
              },
              "sourceAccountId": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "description": "Status of the transfer. See [Transfer](https://docs.hifibridge.com/docs/core-api-transfer) for more details.\n\n`CREATED`, `FIAT_SUBMITTED`, `FIAT_PROCESSED`, `FIAT_CONFIRMED`, `CRYPTO_IN_REVIEW`, `CRYPTO_SUBMITTED`, `CONFIRMED`, `REFUNDED`, `FAILED`, `FAILED_UNKNOWN`\n"
              },
              "isInstant": {
                "type": "boolean"
              },
              "fee": {
                "$ref": "#/components/schemas/FeeObject"
              }
            }
          }
        },
        "example": {
          "transferType": "FIAT_TO_CRYPTO",
          "transferDetails": {
            "id": "0ed5e5f7-6f3d-49c3-bbd1-fc7682119d35",
            "requestId": "1533b435-0d57-43f4-8e05-0f4f6730a219",
            "sourceUserId": "7d2150ce-bdc4-442d-899e-800c48ba3954",
            "destinationUserId": "7d2150ce-bdc4-442d-899e-800c48ba3954",
            "chain": "POLYGON_AMOY",
            "sourceCurrency": "usd",
            "amount": 1,
            "destinationCurrency": "usdc",
            "sourceAccountId": "8ff3c91f-54e9-45ea-939b-23523ecc4ae4",
            "createdAt": "2024-07-26T14:52:43.893588+00:00",
            "status": "FIAT_SUBMITTED",
            "isInstant": false,
            "fee": null
          }
        }
      },
      "CryptoToCryptoRecordObject": {
        "type": "object",
        "properties": {
          "transferType": {
            "type": "string"
          },
          "transferDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "senderUserId": {
                "type": "string"
              },
              "recipientUserId": {
                "type": "string"
              },
              "recipientAddress": {
                "type": "string"
              },
              "chain": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "transactionHash": {
                "type": "string",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string"
              },
              "contractAddress": {
                "type": "string"
              },
              "recipient": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "nullable": true
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string"
                  },
                  "legalFirstName": {
                    "type": "string"
                  }
                }
              },
              "sender": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "nullable": true
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string"
                  },
                  "legalFirstName": {
                    "type": "string"
                  }
                }
              },
              "fee": {
                "$ref": "#/components/schemas/FeeObject"
              }
            }
          }
        },
        "example": {
          "transferType": "CRYPTO_TO_CRYPTO",
          "transferDetails": {
            "id": "d664b6f0-f490-4bba-93bf-5343013e22ed",
            "requestId": "4782e4cf-7b36-4fbf-ae01-5095c2145b71",
            "senderUserId": "0a472717-039b-48bb-894a-a4fc914a1fe4",
            "recipientUserId": "0a472717-039b-48bb-894a-a4fc914a1fe4",
            "recipientAddress": "0xF3D07a6B4a449431e1489A44e732AA90CeB94A8D",
            "chain": "POLYGON_MAINNET",
            "currency": "usdc",
            "transactionHash": "0xd2f14a064ae8c7509a14597c374a63172f682cfa5fd37b6bf32edd334d52064e",
            "createdAt": "2024-08-07T18:04:02.29743+00:00",
            "updatedAt": "2024-08-07T18:04:04.225+00:00",
            "status": "CONFIRMED",
            "contractAddress": "0x41e94eb019c0762f9bfcf9fb1e58725bfb0e7582",
            "recipient": {
              "businessName": null,
              "legalLastName": "Wu",
              "complianceEmail": "henry@hifibridge.com",
              "legalFirstName": "Henry"
            },
            "sender": {
              "businessName": null,
              "legalLastName": "Gutix",
              "complianceEmail": "maxg@gmail.com",
              "legalFirstName": "Max"
            },
            "fee": {
              "feeId": "c44b6d91-eb77-4a64-9b6e-99f32f6a5566",
              "feeType": "PERCENT",
              "feeAmount": 0.01,
              "feePercent": 0.0001,
              "status": "CONFIRMED",
              "transactionHash": "0xd2f14a064ae8c7509a14597c374a63172f682cfa5fd37b6bf32edd334d52064e",
              "failedReason": null
            }
          }
        }
      },
      "CryptoToFiatRecordObject": {
        "type": "object",
        "properties": {
          "transferType": {
            "type": "string"
          },
          "transferDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "sourceUserId": {
                "type": "string"
              },
              "destinationUserId": {
                "type": "string"
              },
              "chain": {
                "type": "string"
              },
              "sourceCurrency": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "destinationCurrency": {
                "type": "string"
              },
              "liquidationAddress": {
                "type": "string"
              },
              "destinationAccountId": {
                "type": "string"
              },
              "transactionHash": {
                "type": "string",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string"
              },
              "contractAddress": {
                "type": "string"
              },
              "sourceUser": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "nullable": true
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string"
                  },
                  "legalFirstName": {
                    "type": "string"
                  }
                }
              },
              "destinationUser": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "nullable": true
                  },
                  "legalLastName": {
                    "type": "string"
                  },
                  "complianceEmail": {
                    "type": "string"
                  },
                  "legalFirstName": {
                    "type": "string"
                  }
                }
              },
              "destinationAccount": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "accountOwnerName": {
[...]
