<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hifi-Bridge</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div style="display: flex; justify-content: center; align-items: flex-start; margin-top: -1%;">
        <div style=" width: 581px; height: 820px;">
            <div style="    background-image: url('image.png'); width: 581px; height: 88px;">
                <p class="top-banner-text"> Get started with </p>
                <p class="top-banner-texttwo"> <span class="hifi_header"> HIFI</span> Pay </p>
            </div>
            <div class="main-section">
                <p class="main-section-InitialText"> Verify your email</p>
                <p class="main-section-middleTextHi"> Hi <%= recipientName %>,</p>
                <p class="main-section-mainText">Congratulations on getting started with HIFI Pay! To activate your
                    account
                    and start accepting payments please enter this verification code into your account when prompted:
                </p>
                <p class="main-section-middleText" style="color: black;"> Please click on the form below to register with the HiFi: </p>
                <div style="text-align:start">
                    <a class="signup-button" href="https://docs.google.com/" target="_blank">Sign Up With Email</a>
                </div>
                <p class="main-section-endText"> This verification code will expire in 1 hour. After which, you will need
                    to
                    request a new code.</p>
                <p class="main-section-middleText" style="line-height: 1px;">Thank you,</p>
                <hr>
            </div>
            <div class="main-section">
                <p class="footer-textFirst"> <span class="hifi_footer"> HIFI </span> Bridge </p>
                <div class="footer-textTwo">
                    <p>By submitting the following verification code, you acknowledge that you have reviewed and accept
                        our
                        <a href="https://google.com" target="_blank" style="color: #6200EE;"> Terms of service</a> and
                        <a href="https://google.com" target="_blank" style="color: #6418C3;">
                            Authorization Agreement.</a>
                    </p>
                </div>

            </div>
            <div class="footer-mainText">
                <p style="line-height: 10px; width: 422px; padding: 6px 9px 15px 35px;">HIFI Bridge, Inc. offers services and infrastructure through a
                    distinguished third-party partner.
                    HIFI Bridge, Inc. operates in alignment with the regulatory standards and licenses maintained by our
                    partner, including their status as a Money Services Business registered FinCEN in the United States,
                    MSB Registration Number 31000214127213. Additionally, an affiliated trust entity of our partner is
                    overseen by the Wyoming Division of Banking. Cryptocurrency trading involves significant risks. Users
                    are urged to thoroughly assess its appropriateness based on their specific situations. The
                    information shared here is solely for informational purposes and should not be viewed as investment,
                    tax, legal or other forms of advice by HIFI Bridge, Inc.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
